*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-03.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-04.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-15.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-25.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-06.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-09.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-18.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-01.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-11.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-19.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-22.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-27.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-28.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-29.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-07.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-17.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-23.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-30.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-05.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-08.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-16.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-20.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-26.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-02.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-10.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-14.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-12.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-13.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-21.wav filter=lfs diff=lfs merge=lfs -text
testset/testset-audio-24.wav filter=lfs diff=lfs merge=lfs -text
